<div class="col-lg-12 clearfix">
  <div class="col-xs-2 authornames">
    <a href="https://www.cs.utexas.edu/~yukez/" align="middle">
      <img src="assets/images/yuke_zhu.jpeg" class="img-circle img-responsive">
      Yuke Zhu
    </a>
  </div>
  <div class="col-xs-2 authornames">
    <a href="https://robertomartinmartin.com/" align="middle">
      <img src="assets/images/roberto_martinmartin.jpeg" class="img-circle img-responsive">
      Roberto Martín-Martín
    </a>
  </div>
  <div class="col-xs-2 authornames">
    <a href="https://profiles.stanford.edu/silvio-savarese/" align="middle">
      <img src="assets/images/silvio_savarese.jpeg" class="img-circle img-responsive">
      Silvio Savarese
    </a>
  </div>
  <div class="col-xs-2 authornames">
    <a href="https://profiles.stanford.edu/fei-fei-li" align="middle">
      <img src="assets/images/feifei_li.jpeg" class="img-circle img-responsive">
      Fei-Fei Li
    </a>
  </div>
</div>