<div class="col-lg-12 clearfix">
  <div class="col-xs-2 authornames">
    <a href="http://web.stanford.edu/~amandlek/" align="middle">
      <img src="assets/images/ajay_mandlek.png" class="img-circle img-responsive">
      Ajay Mandlekar
    </a>
  </div>
  <div class="col-xs-2 authornames">
    <a href="https://cs.stanford.edu/~danfei/" align="middle">
      <img src="assets/images/danfei_xu.jpeg" class="img-circle img-responsive">
      Danfei Xu
    </a>
  </div>
  <div class="col-xs-2 authornames">
    <a href="https://www.jowo.me" align="middle">
      <img src="assets/images/josiah_wong.jpeg" class="img-circle img-responsive">
      Josiah Wong
    </a>
  </div>
  <div class="col-xs-2 authornames">
    <a href="http://snasiriany.me/about/" align="middle">
      <img src="assets/images/soroush_nasiriany.jpeg" class="img-circle img-responsive">
      Soroush Nasiriany
    </a>
  </div>
  <div class="col-xs-2 authornames">
    <a href="http://www.chenwangjeremy.net/" align="middle">
      <img src="assets/images/chen_wang.jpeg" class="img-circle img-responsive">
      Chen Wang
    </a>
  </div>
</div>