---
---

$header-bg-color: #7F00FF; //  #DA4453; #e96443; aa4b6b; c31432
$header-bg-color-second: #CF9FFF; // #89216B; #904e95; #6b6b83; 240b36
// $header-bg-color-third: #76B900;
$section-headings-color: #333f48;
$body-link-color: #005f86;

@import "{{ site.theme }}";
@import "video-embed.css";

.page-header {
    background-image: linear-gradient(120deg, $header-bg-color, $header-bg-color-second);
    // background-image: linear-gradient(120deg, $header-bg-color, $header-bg-color-second, $header-bg-color-third);
}

figure {
    display:block;
    margin: 20px; /* adjust as needed */
    margin: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

figure figcaption {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.project-tagline {
    opacity: 1.0;
}

// our addition
.project-subtitle {
  margin-top: 0;
  margin-bottom: 0.1rem;

  @include large {
    font-size: 2.3rem;
  }

  @include medium {
    font-size: 1.5rem;
  }

  @include small {
    font-size: 1.15rem;
  }
}

.btn {
    color: rgba(255, 255, 255, 1.0);
}

.site-footer {
    border-top: solid 2px $hr-border-color;
}

.authornames  {
  text-align: center;
  float: left;
  font-size: 1.0rem;
}

.img-circle {
  border-radius: 50%;
  padding-bottom: 10px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.col-xs-2 {
  width: 16%;
  padding-right: 20px;
}

.col-lg-12 {
    width: 100%;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* CSS style classes for displaying images next to each other. */
.postimage_unpadded {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
}

.postimagefullwidth {
  width: 100%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  padding: 1%;
}

.postimagefourfifth {
  width: 80%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  padding: 1%;
}

.postimagetwothird {
  width: 65%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  padding: 1%;
}

.postimagehalf {
  width: 49%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  padding: 1%;
}

.postimagethird {
  width: 30%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  padding: 1%;
}

.postimagequarter {
  width: 24%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
}

.postfigurefourfifth {
  width: 80%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  padding: 1%;
  display: inline-block;
}

.postfigurehalf {
  width: 49%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  padding: 1%;
  display: inline-block;
}

.postfigurethird {
  width: 30%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  padding: 1%;
  display: inline-block;
}

.postfigurequarter {
  width: 24%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  display: inline-block;
}


//.row {
//  margin-right: -15px;
//  margin-left: -15px;
//}
//
//.row:before, .row:after {
//  display: table;
//  content: " ";
//};