<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include base.html %}
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | absolute_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
  </head>
  
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h1 class="project-subtitle">{{ page.subtitle }}</h1>
      <h2 class="project-tagline">{{ page.project_tagline }}</h2>
      <a href="{{ site.baseurl }}/assets/robocasa_rss24.pdf" class="btn">Paper</a>
      <a href="https://github.com/robocasa/robocasa" class="btn">Code</a>
      <!-- <a href="{{ '/docs/introduction/overview.html' | absolute_url }}" class="btn">Documentation</a>
      <a href="{{ '/study' | absolute_url }}" class="btn">Study Website</a>
      <a href="https://github.com/ARISE-Initiative" class="btn">ARISE Initiative</a> -->
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner">
            &copy; Copyright the RoboCasa Team 2024
        </span>
      </footer>
    </main>
  </body>
</html>